@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme Colors */
  --primary-brand: #98c93c;
  --primary-brand-hover: #82ac34;
  --secondary-brand: #10110d;
  --secondary-brand-hover: #030303;
  --tertiary-brand: #f6f6f6;
  --tertiary-brand-hover: #e0e0e0;
  --dark-grey: #eaeaea;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.4375rem;
  letter-spacing: -0.02em;
  color: var(--secondary-brand);
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--secondary-brand);
}


@media (max-width: 1280px) { 
  h2 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
 }
}

@media (min-width: 1280px) {
h2 {

  font-size: 2.5rem;
  line-height: 3.375rem;
}
}
h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: -0.02em;
  color: var(--secondary-brand);
}

p {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  color: var(--secondary-brand);
}

h4 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--secondary-brand);
}

h5 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-brand);
}

p:empty { display:none; }

a > p {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  text-decoration-line: underline;
  color: var(--primary-brand);
  cursor: pointer;
}


button {
  font-family: var(--font-secondary);
  font-style: normal;
  background-color: var(--primary-brand);
  font-weight: 700;
  color: var(--tertiary-brand);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

@media (max-width: 1280px) {
button {
  width: 134px;
  height: 46px;
  font-size: 10px;
  line-height: 13.62px;
  border-radius: 0.625rem;
}
}

@media (min-width: 1280px) {
  button { 
    width: 144px;
    height: 60px;
    font-size: 14px;
    line-height: 19px;
    border-radius: 0.9375rem;
  }
  }
button:hover {
  background: var(--primary-brand-hover)
}

.button-primary {
  background-color: var(--primary-brand);
}

.button-secondary {
  background-color: var(--secondary-brand);
}

.button-secondary:hover {
  background-color: var(--secondary-brand-hover);
}

.button-tertiary {
  background-color: var(--tertiary-brand);
  color: var(--primary-brand)
}

.button-tertiary:hover {
  background-color: var(--tertiary-brand-hover);
}

input {
  border: 1px;
  border-style: solid;
  border-color: var(--primary-brand);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 140%;
  padding: 0.75rem;  
}
